header, footer {
  margin: 0;
  text-align: center;
  padding: 10px;
}

header {
  margin-bottom: 20px;
  background-color: #eeeeee;
}

footer {
  margin-top: 20px;
  background-color: #eeeeee;
}

.new-post {
  width: 70%;
  margin: 0 auto;
}

.new-post .title {
  text-align: center;
}

.new-post .btn-danger {
  margin-left: 6px;
}
.form-group .form-alert {
  color: red;
}

.posts-list {
  margin: 10px 70px;
}
